<h1>Flights</h1>

<table class="indexTable">
  <tr>
    <th>Airline</th>
    <th>Airport</th>
    <th>Flight #</th>
    <th>Departs</th>
  </tr>
  <% let red %> <% flights.sort((a,b)=>{ return (b.departs) - (a.departs) }) %>
  <% flights.forEach(function(flight) {if(flight.departs <= new
  Date().getTime()){ red="red",console.log(flight.departs + "- " + "old date") }
  %>
  <tr class="<%=red%>">
    <td><%=flight.airline %></td>
    <td><%=flight.airport %></td>
    <td>
      <a href="/flight/detail?id=<%=flight.id%>"> <%=flight.flightNo %></a>
    </td>
    <td><%=moment(flight.departs).format("YY-MM-DD HH:mm") %></td>

    <% }) %>
  </tr>
</table>
