<h3>Flights</h3>

<table>
  <tr>
    <th>Airline</th>
    <th>Airport</th>
    <th>Flight #</th>
    <th>Departs</th>
  </tr>
  <% flights.sort((a,b)=>{ return (b.departs) - (a.departs) }) %> <%
  flights.forEach(function(flight) {if(flight.departs <= new
  Date().getTime()){console.log(flight.departs + "- " + "bad date")} %>
  <tr>
    <td><%=flight.airline %></td>
    <td><%=flight.airport %></td>
    <td>
      <a href="/flight/detail?id=<%=flight.id%>"> <%=flight.flightNo %></a>
    </td>
    <td><%=moment(flight.departs).format("YY-MM-DD HH:mm") %></td>

    <% }) %>
  </tr>
</table>
